@import "~bootstrap/scss/bootstrap";

@mixin custom-navlink($color, $size) {
  text-decoration: none;
  font-size: $size;
  color: $color
}

.custom-navlink-dark,
.custom-navlink-dark:hover {
  @include custom-navlink(rgb(29, 29, 29), medium)
}

.custom-navlink-light,
.custom-navlink-light:hover {
  @include custom-navlink(rgb(241, 239, 239), x-large)
}

.app {
  font-size: large;
}